.env
.git
.gitignore
.gradle
build
out
bin
.idea
.vscode
*.iml
*.iws
*.ipr
.DS_Store

src/main/resources/application.properties
src/main/resources/*.json
src/main/resources/key
src/main/resources/**/*.p8

Dockerfile
docker-compose*.yml
