version: "3.8"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile # Dockerfile 이름
    image: ontimedemo # 빌드된 백엔드 이미지
    container_name: ontime-container
    ports:
      - "8080:8080"
      - "8443:8443"
    volumes:
      - /home/ubuntu/OnTime-back/ontime-back/src/main/resources/:/app/src/main/resources/
      - /home/ubuntu/OnTime-back/ontime-back/src/main/resources/key/:/app/resources/key/
